<div class="container">
    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/hiclipart.com.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Doctor</h5>
            <button type="submit" id="mngdoctors" class="btn btn-lg btn-primary" routerLink="moddoctor">Manage Doctors</button>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/hiclipart.com.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Patients</h5>
            <button type="submit" id="mngpatients" class="btn btn-lg btn-primary" routerLink="modpatient">Manage Patients</button>
        </div>
    </div>
</div>