<div id="container">
  <div class="mt-4">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-general-surgery" role="tabpanel"
        aria-labelledby="v-general-surgery-tab">
        <div>
          <div>
            <h2><strong> {{speciality_name}} </strong></h2>
            <h6>{{description}}</h6>
            <div *ngFor="let data of fetcheddata" class="generalgrid">
              <div> <img src="../../assets/images/hiclipart.com.png" alt="A doctor image" /><br> </div>
              <div class="mt-5">
                <h3>
                  <strong>Dr. {{data.doctor_name}} </strong>
                </h3>
                <h5> {{data.education}} </h5>
                <h6> {{data.visiting_hrs}} </h6>
              </div>
              <div *ngIf = "loginStatus" class="mt-5"><button class="btn btn-primary" (click)='bookAppointment(data)'>Book Appointment</button>
              </div>
              <div *ngIf = "!loginStatus" class="mt-5"><a href="#" class="msg mr-5 border border-danger rounded-pill p-2">Please Login to Book an Appointment</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vnb">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-general-surgery-tab" data-toggle="pill" href="#v-general-surgery" role="tab"
        aria-controls="v-general-surgery" aria-selected="true" (click)="generalcall()">GENERAL SURGERY</a>
      <a class="nav-link" id="v-ent-tab" data-toggle="pill" href="#v-ent" role="tab" aria-controls="v-ent"
        aria-selected="false" (click)="entcall()">ENT</a>
      <a class="nav-link" id="v-neurologist-tab" data-toggle="pill" href="#v-neurologist" role="tab"
        aria-controls="v-neurologist" aria-selected="false" (click)="neurologycall()">NEUROLOGY</a>
      <a class="nav-link" id="v-pulmonology-tab" data-toggle="pill" href="#v-pulmonology" role="tab"
        aria-controls="v-pulmonology" aria-selected="false" (click)="pulmonologycall()">PULMONOLOGY</a>
      <a class="nav-link" id="v-nephrologist-tab" data-toggle="pill" href="#v-nephrologist" role="tab"
        aria-controls="v-nephrologist" aria-selected="false" (click)="nephrologycall()">NEPHROLOGY</a>
      <a class="nav-link" id="v-urologist-tab" data-toggle="pill" href="#v-urologist" role="tab"
        aria-controls="v-urologist" aria-selected="false" (click)="urologycall()">UROLOGY</a>
      <a class="nav-link" id="v-anaesthesiology-tab" data-toggle="pill" href="#v-anaesthesiology" role="tab"
        aria-controls="v-anaesthesiology" aria-selected="false" (click)="anaescall()">ANAESTHESIOLOGY</a>
    </div>
  </div>
</div>