.carousel-item{
    max-height: 60%;
  }

  #container{
    display: grid;
    grid-template-columns:73% 27%;
  }
  
  .btn{
      width: 80%;
      margin-left: 2em;
  }

  .box{
      box-sizing: border-box;
      border: 1px solid black;
      width: 370px;
      height: 60%;
  }

  .reminderbox{
    padding: 1em;
  }

  