<div id="container">
  <div class="par p-5">
    <h2><strong> About Us </strong></h2>
    <p class="ptx mt-4">
      Pold Hospitals is the largest chain of hospitals in Maharashtra. It is the
      brainchild of Dr. Abc Xyz, one of India’s most renowned
      Neurosurgeons and more importantly an ardent practitioner of ethical
      medical practices. It was his philosophy to make quality healthcare
      available, accessible, & accountable and not restrict as a privilege to
      the few, which still stands as the group’s pivotal touchstone.
    </p>
    <p><img id="about" src="../../assets/images/about.PNG" /></p>
    <p class="ptx mt-4">
      The Pold group has 8 Hospitals with more than 900 beds and 200 ICU
      beds. Currently we have more than 2000 clinicians along with 2600
      supporting staff. Pold Hospitals has touched the lives of more than 50
      lakh people by providing quality care.
    </p>
    <p class="ptx mt-4">
      Our Pold hospitals are easy to reach due to their strategic locations
      in the cities of Mumbai, Pune, Nagpur and Nashik.
    </p>
  </div>
</div>
