footer{
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}

#smh{
    margin-left: 1em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    color: dimgray;
    letter-spacing: 3px;
}
  
#searchpatient
{
    padding: 3em;
    text-align: center;

}

#tablepat
{
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}