.layout{
    display: grid;
    grid-template-columns: 8fr 2fr;
    height: 615px;
    justify-items: stretch;
    align-items: stretch;
}

nav {
    margin-top: 9em;
    background: #3d4242;
    margin-left: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: #fff;
    padding: 20px;
    display: block;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}

.sidebar{
    background: #3d4242;
}