<div>
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="#"><img src="../assets/images/logo.png"></a>
    <h1 class="my-0 md-mr-auto">POLD &nbsp;<sub>MULTISPECIALITY &nbsp; HOSPITAL</sub></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end mr-4" id="navbarCollapse">
      <div *ngIf="isNavbarShown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="speciality">Specialities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact Us</a>
          </li>
        </ul>
      </div>
      <div *ngIf="isLogoutShown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink='user'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='profile'>Profile</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-link" style="color: red;" id="logout" (click)="logout()" value="Logout" >Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="bdy">
    <router-outlet></router-outlet>
  </div>
  
  <div>
    <footer class="footer mt-auto py-3 text-dark">
      <div class="container">
        <span>© 2019 Pold Hospitals Ltd All Right Reserved</span>
      </div> 
    </footer>
  </div>
</div>
