<div class="doctor">
  <form class="form-signin align-items-center" (ngSubmit)="onSubmit()">
    <img id="login-logo" src="../assets/images/hiclipart.com.png">
    <h1 class="h3 mb-3 font-weight-normal">Doctor Login</h1>
    <div *ngIf="statusFlag" class="alert alert-danger" role="alert">
      {{status}}
    </div>
    <label for="inputDoctorId" class="sr-only">Doctor Id</label>
    <input [(ngModel)]="username" name="username" type="text" id="inputDoctorId" class="form-control"
      placeholder="Doctor Id" required>
    <br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input [(ngModel)]="password" name="password" type="password" id="inputPassword" class="form-control"
      placeholder="Password" required>
      <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>