<p class="con2 h2 mt-4">Contact Us</p>
<div id="container">
    <div id="cont" class="px-5">
      <div id="con1">
        <img id="logo1" src="../../assets/images/map.png" >
      <p id="par">316 , SLNS PG, 1st Main Road, Pai Layout, Banglore<br> 560016, Karnataka, India <br>Phone: 020 6721 5000</p>
      </div>
      <div id="con1">
        <img id="logo1" src="../../assets/images/mobile-circle-logo-png-30.png" >
        <p id="par">Phone : 7020944923</p>
      </div>
    </div>  
     <div #map style="width:100%;height:500px">
    </div>   
</div>   