  #container{
    display: grid;
    grid-template-columns:50% 50%;
    margin-bottom: 1em;
    margin-right: 1em;
  }
  
  #par{
    margin-top: 3em;
    font-size: 18px;
    font-weight: bold;
  }
  
  .ptx{
    font-size: large;
    font: italic;
  }

  #cont{
    display: grid;
    grid-template-rows: 50% 50%;
  }

  #con1{
    display: grid;
    grid-template-columns: 25% 75%;
  }

  .con2{
    margin-left: 11em;
  }

  body{
    position: relative;
  }
