<div>
  <form class="form-signin align-items-center" (ngSubmit)="onSubmit()">
    <img id="login-logo" src="../assets/images/hiclipart.com.png">
    <h1 class="h3 mb-3 font-weight-normal">Reception Login</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input [(ngModel)]="username" name="username" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input [(ngModel)]="password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <br>
  </form>
</div>